<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Article Evaluation</title>
</head>

<body>
    <header>
        <div class="">
            Udacity - Evaluate A News Article - NLP
        </div>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" name="input" placeholder="Enter a valid URL" type="url" value=""> 
                <input id="callapi" name="" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)" type="submit" value="submit">
            </form>
            <div id="error"></div>
            <section>
                <strong>Results:</strong>
                <div class="result-blocks" id="results">
                    <ul>
                        <li>
                            <h3>Text Polarity:</h3>
                            <p id="polarity"></p>
                            <h4>Confidence:</h4>
                            <p id="polarity_confidence"></p>
                        </li>
                        <li class="list">
                            <h3>Text Subjectivity:</h3>
                            <p id="subjectivity"></p>
                            <h4>Confidence:</h4>
                            <p id="subjectivity_confidence"></p>
                        </li>
                        <li>
                            <h3>Text Excerpt:</h3>
                            <p id="text"></p>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                });
            });
        } else {
            console.log("Service Working not working");
        }
    </script>
</body>

</html>